[submodule "glad"]
	path = glad
	url = ../glad_3.1
	branch = main
[submodule "assimp"]
	path = assimp
	url = ../../cpp-port/assimp
	branch = main
[submodule "tinygltf"]
	path = tinygltf
	url = ../../cpp-port/tiny-tinygltf
	branch = main
[submodule "vkbootstrap"]
	path = vkbootstrap
	url = ../../cpp-port/vkbootstrap
	branch = main
[submodule "vulkan"]
	path = vulkan
	url = ../../cpp-port/windows-vulkan-headers
	branch = main
[submodule "vkvg"]
	path = vkvg
	url = ../../cpp-port/port-vkvg
	branch = main
